.banner {
  width:100%;
  background-image: url('https://github.com/alexcontini/alexcontini.github.io/blob/master/bg3.jpg?raw=true');
}

.banner img {
  width:60%;
}

.bannertext{
  width:60%;
  position:relative;
  z-index:99;
  font-size:16pt;
  font-family:'Proxima Nova';
  font-weight:300;
  text-align:center;
  padding-top:12%;
  padding-bottom:8%;
  line-height:24pt;
  color:white;
  margin: 0 auto;
}

.bannertextheader {
  width:80%;
  font-weight:300;
  position:relative;
  z-index:99;
  font-size:38pt!important;
  font-family:'Proxima Nova';
  text-align:center;
  padding:2%;
  line-height:42pt;
  padding-left:10%;
}

.bannertextheader2 {
  width:80%;
  font-weight:300;
  position:relative;
  z-index:99;
  font-size:40pt!important;
  font-family:'Proxima Nova';
  text-align:center;
  padding:2%;
  line-height:48pt;
  padding-left:10%;
}

.button {
  width:200px;
  font-weight:600;
  position:relative;
  z-index:99;
  font-size:16pt!important;
  letter-spacing:0.01em;
  border-radius: 5px;
  font-family:'Proxima Nova';
  text-align:center;
  padding:2.5%;
  text-transform:uppercase;
  margin:2%;
  color:white;
  letter-spacing:0.01em;
  background-color:#61D0E4;
  display:inline;
}

.buttons {
  margin-top:8%;
  display:block;
}

body {
  margin: 0px -2% 0 0;
}

a {
  color: #606060 !important;
  text-decoration: none;
}

.banner2{
  background-color:#eeeeee;
}

.banner2text {
  width:60%;
  position:relative;
  z-index:99;
  font-size:16pt;
  font-family:'Proxima Nova';
  font-weight:300;
  text-align:center;
  padding-bottom:5%;
  padding-top:3%;
  line-height:21pt;
  color:#333333;
  margin: 0 auto;
}

.logo {
  width:50%;
  margin:0 auto;
  padding:3%;
}

.logo img {
  width:100%;
}

.nav {
  background-color:white;
  font-family:'Proxima Nova';
  font-weight:800;
  padding-right:1%;
  padding-bottom:1%;
  padding-top:1%;
  color:#303030;
  float:left;
  width:100%;
  vertical-align:middle;
}

.navlinks {
  font-size:12pt;
  font-family:'Open Sans';
  font-weight:600;
  padding-top:3%;
  word-spacing:15px;
  letter-spacing:0.03em;
  vertical-align:middle;
  color:#606060;
}

.jaeger {
  float:left;
  width:60%;
  padding-left:2%;
  display:inline;
}

.jaeger img {
  width:30%;
}

.icons {
  width:20%;
  display:inline-block;
  vertical-align:top;
  padding:2%;
  font-size:12pt;
  line-height:16pt;
}

.allicons {
  width:100%;
  vertical-align:top;
}

i {
  font-size::90px;
  display:block;
}

@media screen and (max-width:700px) {

.bannertext {
  width:90%;
  font-size:15pt;
  line-height:20pt;
  padding-bottom:20%;
}

.bannertextheader {
  width:95%;
  padding:4%;
  font-size:26pt !important;
  line-height:28pt;
  padding-top:40%;
}

.bannertextheader2 {
  width:95%;
  padding:4%;
  font-size:28pt !important;
  line-height:28pt;
  padding-top:10%;
}

.button {
  width:200px;
  font-weight:600;
  position:relative;
  z-index:99;
  font-size:14pt!important;
  letter-spacing:0.01em;
  border-radius: 5px;
  font-family:'Proxima Nova';
  text-align:center;
  padding:4%;
  text-transform:uppercase;
  margin:2%;
  color:white;
  letter-spacing:0.01em;
  background-color:#61D0E4;
  display:inline;
}

.icons {
  width:100%;
  display:inline-block;
  vertical-align:top;
  padding:2%;
  font-size:12pt;
  line-height:16pt;
}

.nav {
  background-color:white;
  font-family:'Proxima Nova';
  font-weight:500;
  padding:3%;
  color:#303030;
  width:100%;
  font-size:14px !important;
  vertical-align:middle;
}

.jaeger {
  float:left;
  width:100%;
  padding:3%;
  text-align:left;
  display:inline;
}

.jaeger img{
  width:60%;
  text-align:center;
  display:inline;
}

.navlinks {
  font-size:12pt;
  font-family:'Open Sans';
  font-weight:600;
  padding-top:3%;
  padding-left:5%;
  word-spacing:10px;
  letter-spacing:0.03em;
  vertical-align:middle;
  color:#606060;
}

.logo {
  width:100%;
  margin-top:5%;

}
}
