@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Proxima+Nova")

$primary: #7dcee1
$dark: #293349

$family-sans-serif: "Proxima Nova", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$navbar-height: 6rem
$navbar-item-hover-color: $primary
$navbar-item-hover-background-color: #ddd
$navbar-item-img-max-height: 4rem

$footer-background-color: $dark

@import ../../node_modules/bulma/bulma
@import "syntax"

body.body
  display: flex
  min-height: 100vh
  flex-direction: column

  main.main
    flex: 1

.hero
  &.hero--home
    background-image: url("/img/bg3.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.navbar
  .navbar-menu
    .navbar-item
      font-size: 1.5rem
