@import ../../node_modules/material-icons/css/material-icons.css
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Proxima+Nova")

@import ../../node_modules/bulma/sass/utilities/initial-variables

$primary: #7dcee1
$dark: #293349

$family-sans-serif: "Proxima Nova", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$navbar-height: 6rem
$navbar-item-img-max-height: $navbar-height * .7
$navbar-item-hover-color: $dark
$navbar-item-hover-background-color: $white-ter

$panel-item-border: none

$footer-background-color: $dark

@import ../../node_modules/bulma/bulma
@import "syntax"

body.body
  display: flex
  min-height: 100vh
  flex-direction: column

  main.main
    flex: 1

.hero
  &.hero--home, &.hero--docs
    background-image: url("/img/bg3.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center


.navbar
  border-bottom: 1px solid $white-ter

.section--features
  .icon
    margin-bottom: 3rem

  .section
    margin-top: 1%

.section--github
  background-color: $black

  .heading, .title
    color: $white

.section--cncf
  background-color: $white-ter

.navbar
  .navbar-menu
    .navbar-item
      font-size: 1.5rem

.footer
  .column
    padding-left: 1rem
    border-left: 1px solid $grey-light

.article
  &.article--docs
    margin: 3rem 0

.sidebar
  &.sidebar--docs
    position: fixed

aside.toc
  position: fixed

  #TableOfContents
    border-left: 3px solid $primary
    padding-left: 5%

    a
      color: $black

    ul
      li
        ul
          li
            ul
              li
                padding-left: 10%
                ul
                  li
                    padding-left: 15%

  .button
    margin-top: 2rem
    color: white
    background-color: black
    border: none

+mobile
  .section--cncf
    img
      width: 70%

  .section--features
    .column + .column
      margin-top: 1.25rem

+touch
  .section--cncf
    img
      width: 60%

+desktop
  .section--cncf
    img
      width: 40%
